{% extends 'base.html' %}

{% block content %}
<div class="white-box">
<h1 class="title">Admin Login</h1>
<hr>
<form action="/admin" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>
</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% endif %}
    {% endwith %}
{% endblock %}